body{
    background-color: rgb(192, 248, 187);
}
footer {
    background-color: #e8ecef;
    position: static;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.restaurantName{
    font-family: 'Indie Flower', cursive;
}

.aa{ 
    color: green;
}

.aa:hover{
    font: bold;
    font-size: 20px;
    color: green;
}

.aa:visited{
    color: blue
}

.aa:active{
    text-decoration: none;
}

.navBar{
    padding: 1%
}